
<div class="user-dashboard-section">
    <app-navbar isTypeOfPage="" userCheck="work"></app-navbar>
    <div class="serch-section">
        <span class="serch-text">Source</span>
        <input [ngModel]="source" (ngModelChange)="modelChangeSource($event)" class="serch-city" placeholder="enter source city..."/>
        <span class="serch-text"> Destination</span>
        <input #dest [ngModel]="destination" (ngModelChange)="modelChangeDestination($event)" class="serch-city" placeholder="enter destination city..."/>
        <input [ngModel]="date" (ngModelChange)="modelChangeDate($event)" min={{formattedDate}} type="date" class="date" />
        <button class="search-button" (click)="handleClickSearch()">Search</button>
    </div>
    <div *ngIf="!clicked" class="user-dashboard-empty-message" >
            <h1 class="welcome-title">Welcome to STG airlines</h1>
     </div>
      <table *ngIf="clicked" class="flight-list">
       
            <tr class="flight-list-heading">
                <th class="flight-list-heading-element" [width]="100">Flight Name</th>
                <th class="flight-list-heading-element" [width]="100">From City</th>
                <th class="flight-list-heading-element" [width]="100">To City</th>
                <th class="flight-list-heading-element" [width]="100">Date</th>
                <th class="flight-list-heading-element" [width]="100">Time</th>
                <th class="flight-list-heading-element" [width]="100">Book</th>
            </tr>
            
                <tr  *ngFor="let item of data"  class="flight-card">
                    <div  *ngIf="from==item.arrivalCity && to==item.departureCity && selectDate==item.arrivalDate">
                        <td class="flight-card-item" [width]="100">{{item.flightName}}</td>
                        <td class="flight-card-item" [width]="100">{{item.arrivalCity}}</td>
                        <td class="flight-card-item" [width]="100">{{item.departureCity}}</td>
                        <td class="flight-card-item" [width]="100">{{item.arrivalDate}}</td>
                        <td class="flight-card-item" [width]="100">{{item.arrivalTime}}</td>
                        <td><button class="flight-card-button" (click)="handleClickBooking()">Book</button></td>
                    </div>
                    
                </tr>
            
            
        
     </table> 
    
</div>