.navbar-section {
    background-color: #4860e6;
    height: 50px;
    padding-left:10px ;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}
.logo-img {
    width: 50px;
    border-radius: 100%;
    cursor: pointer;
}

.nav-right {
    display: flex;
    color: rgb(238, 238, 248);
    cursor: pointer;
}
.nav-login {
    margin-right: 10px;
}
